body {
  font-family: $font_family;
  font-size: $base_font_size;
  color: $black;
  font-weight: 500;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.hide-on {
  &--laptop {
    @media (max-width: $laptop) {
      display: none;
    }
  }
  &--tablet {
    @media (max-width: $tablet) {
      display: none;
    }
  }
  &--phone {
    @media (max-width: $phone) {
      display: none;
    }
  }
  &--mobile {
    @media (max-width: $mobile) {
      display: none;
    }
  }
}
.visible-on {
  &--laptop {
    display: none;
    @media (max-width: $laptop) {
      display: block;
    }
  }
  &--tablet {
    display: none;
    @media (max-width: $tablet) {
      display: block;
    }
  }
  &--phone {
    display: none;
    @media (max-width: $phone) {
      display: block;
    }
  }
  &--mobile {
    display: none;
    @media (max-width: $mobile) {
      display: block;
    }
  }
}
.not-found {
  text-align: center;
  margin: 20px 0 30px;
  &__error {
    font-size: 100px;
    line-height: 65px;
  }
  &__big {
    font-size: 40px;
    line-height: normal;
    @media (max-width: $mobile) {
      font-size: 31px;
      line-height: 37px;
      padding: 10px 0;
    }
  }
  &__text {
    text-align: center;
    font-size: 21px;
    @media (max-width: $mobile) {
      font-size: 18px;
      line-height: 24px;
    }
  }
  &__links {
    text-align: center;
    font-size: 21px;
    padding: 10px 0;
    @media (max-width: $mobile) {
      line-height: 30px;
    }
  }
}
*,
::after,
::before {
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}
button {
  box-shadow: none;
  background: transparent;
  border: 0;
  &:focus {
    outline: none;
    box-shadow: none;
  }
}
