$font_family: 'Yeseva One';
$base_font_size: 16px;
$container_width: 1170px;
$cols_padding: 15px;

$white: #fff;
$black: #000;
$red: #F44336;
$green: #4CAF50;
$yellow: #FF9800;

$duration: 0.4s;

$laptop: 1200px;
$tablet: 992px;
$phone: 767px;
$mobile: 600px;
