body {
    font-family: $font_family;
    font-size: $base_font_size;
    color: $black;
    font-weight: 400;
}
a,
button {
  @include transition;
}
.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.hide-on {
    &--laptop {
        @media (max-width: $laptop) {
            display: none;
        }
    }
    &--tablet {
        @media (max-width: $tablet) {
            display: none;
        }
    }
    &--phone {
        @media (max-width: $phone) {
            display: none;
        }
    }
    &--mobile {
        @media (max-width: $mobile) {
            display: none;
        }
    }
}
.visible-on {
    &--laptop {
        display: none;
        @media (max-width: $laptop) {
            display: block;
        }
    }
    &--tablet {
        display: none;
        @media (max-width: $tablet) {
            display: block;
        }
    }
    &--phone {
        display: none;
        @media (max-width: $phone) {
            display: block;
        }
    }
    &--mobile {
        display: none;
        @media (max-width: $mobile) {
            display: block;
        }
    }
}
