.not-found {
    text-align: center;
    margin: 20px 0 30px;
	&__error {
		font-size: 100px;
		line-height: 65px;
	}
    &__big {
        font-size: 40px;
		line-height: normal;
		@media (max-width: $mobile) {
			font-size: 31px;
			line-height: 37px;
			padding: 10px 0;
		}
    }
    &__text {
        text-align: center;
        font-size: 21px;
		@media (max-width: $mobile) {
			font-size: 18px;
			line-height: 24px;
		}
    }
	&__links {
		text-align: center;
        font-size: 21px;
		padding: 10px 0;
		@media (max-width: $mobile) {
			line-height: 30px;
		}
	}
}