@import url('https://fonts.googleapis.com/css?family=Yeseva+One&subset=cyrillic-ext,latin-ext');

@font-face {
	font-family: 'GothamPro';
  font-style: normal;
  font-weight: 400;
	src: url('../fonts/GothamPro/GothamPro.eot?') format('eot'),
	     url('../fonts/GothamPro/GothamPro.otf')  format('opentype'),
	     url('../fonts/GothamPro/GothamPro.woff') format('woff'),
	     url('../fonts/GothamPro/GothamPro.ttf')  format('truetype'),
	     url('../fonts/GothamPro/GothamPro.svg#GothamPro') format('svg');
}

@font-face {
	font-family: 'GothamPro';
  font-style: italic;
  font-weight: 400;
	src: url('../fonts/GothamPro-Italic/GothamPro-Italic.eot?') format('eot'),
	     url('../fonts/GothamPro-Italic/GothamPro-Italic.otf')  format('opentype'),
	     url('../fonts/GothamPro-Italic/GothamPro-Italic.woff') format('woff'),
	     url('../fonts/GothamPro-Italic/GothamPro-Italic.ttf')  format('truetype'),
	     url('../fonts/GothamPro-Italic/GothamPro-Italic.svg#GothamPro-Italic') format('svg');
}
@font-face {
	font-family: 'GothamPro';
  font-style: normal;
  font-weight: 300;
	src: url('../fonts/GothamPro-Light/GothamPro-Light.eot?') format('eot'),
	     url('../fonts/GothamPro-Light/GothamPro-Light.otf')  format('opentype'),
	     url('../fonts/GothamPro-Light/GothamPro-Light.woff') format('woff'),
	     url('../fonts/GothamPro-Light/GothamPro-Light.ttf')  format('truetype'),
	     url('../fonts/GothamPro-Light/GothamPro-Light.svg#GothamPro-Light') format('svg');
}
@font-face {
	font-family: 'GothamPro';
  font-style: italic;
  font-weight: 300;
	src: url('../fonts/GothamPro-LightItalic/GothamPro-LightItalic.eot?') format('eot'),
	     url('../fonts/GothamPro-LightItalic/GothamPro-LightItalic.otf')  format('opentype'),
	     url('../fonts/GothamPro-LightItalic/GothamPro-LightItalic.woff') format('woff'),
	     url('../fonts/GothamPro-LightItalic/GothamPro-LightItalic.ttf')  format('truetype'),
	     url('../fonts/GothamPro-LightItalic/GothamPro-LightItalic.svg#GothamPro-LightItalic') format('svg');
}
@font-face {
	font-family: 'GothamPro';
  font-style: normal;
  font-weight: 500;
	src: url('../fonts/GothamPro-Medium/GothamPro-Medium.eot?') format('eot'),
	     url('../fonts/GothamPro-Medium/GothamPro-Medium.otf')  format('opentype'),
	     url('../fonts/GothamPro-Medium/GothamPro-Medium.woff') format('woff'),
	     url('../fonts/GothamPro-Medium/GothamPro-Medium.ttf')  format('truetype'),
	     url('../fonts/GothamPro-Medium/GothamPro-Medium.svg#GothamPro-Medium') format('svg');
}

@font-face {
	font-family: 'GothamPro';
  font-style: italic;
  font-weight: 500;
	src: url('../fonts/GothamPro-MediumItalic/GothamPro-MediumItalic.eot?') format('eot'),
	     url('../fonts/GothamPro-MediumItalic/GothamPro-MediumItalic.otf')  format('opentype'),
	     url('../fonts/GothamPro-MediumItalic/GothamPro-MediumItalic.woff') format('woff'),
	     url('../fonts/GothamPro-MediumItalic/GothamPro-MediumItalic.ttf')  format('truetype'),
	     url('../fonts/GothamPro-MediumItalic/GothamPro-MediumItalic.svg#GothamPro-MediumItalic') format('svg');
}

@font-face {
	font-family: 'GothamPro';
  font-style: normal;
  font-weight: 900;
	src: url('../fonts/GothamPro-Black/GothamPro-Black.eot?') format('eot'),
	     url('../fonts/GothamPro-Black/GothamPro-Black.otf')  format('opentype'),
	     url('../fonts/GothamPro-Black/GothamPro-Black.woff') format('woff'),
	     url('../fonts/GothamPro-Black/GothamPro-Black.ttf')  format('truetype'),
	     url('../fonts/GothamPro-Black/GothamPro-Black.svg#GothamPro-Black') format('svg');
}

@font-face {
	font-family: 'GothamPro';
  font-style: italic;
  font-weight: 900;
	src: url('../fonts/GothamPro-BlackItalic/GothamPro-BlackItalic.eot?') format('eot'),
	     url('../fonts/GothamPro-BlackItalic/GothamPro-BlackItalic.otf')  format('opentype'),
	     url('../fonts/GothamPro-BlackItalic/GothamPro-BlackItalic.woff') format('woff'),
	     url('../fonts/GothamPro-BlackItalic/GothamPro-BlackItalic.ttf')  format('truetype'),
	     url('../fonts/GothamPro-BlackItalic/GothamPro-BlackItalic.svg#GothamPro-BlackItalic') format('svg');
}

@font-face {
	font-family: 'GothamPro';
  font-style: normal;
  font-weight: 600;
	src: url('../fonts/GothamPro-Bold/GothamPro-Bold.eot?') format('eot'),
	     url('../fonts/GothamPro-Bold/GothamPro-Bold.otf')  format('opentype'),
	     url('../fonts/GothamPro-Bold/GothamPro-Bold.woff') format('woff'),
	     url('../fonts/GothamPro-Bold/GothamPro-Bold.ttf')  format('truetype'),
	     url('../fonts/GothamPro-Bold/GothamPro-Bold.svg#GothamPro-Bold') format('svg');
}

@font-face {
	font-family: 'GothamPro';
  font-style: italic;
  font-weight: 600;
	src: url('../fonts/GothamPro-BoldItalic/GothamPro-BoldItalic.eot?') format('eot'),
	     url('../fonts/GothamPro-BoldItalic/GothamPro-BoldItalic.otf')  format('opentype'),
	     url('../fonts/GothamPro-BoldItalic/GothamPro-BoldItalic.woff') format('woff'),
	     url('../fonts/GothamPro-BoldItalic/GothamPro-BoldItalic.ttf')  format('truetype'),
	     url('../fonts/GothamPro-BoldItalic/GothamPro-BoldItalic.svg#GothamPro-BoldItalic') format('svg');
}
